/target/

# IntelliJ project files
*.iml
*.iws
*.ipr
.idea/

# ignore eclipse files and folders
.project
.classpath
.settings
.metadata
.scala_dependencies
.externalToolBuilders
/.metadata
/.recommenders
/RemoteSystemsTempFiles
